.homePage-reviews{
 display: flex;
 flex-wrap: wrap;
 justify-content:space-between;
 align-items: flex-start;
 margin-left: 1rem;
 overflow: scroll;
}

.reviewCards{
 display: flex;
 flex-direction: column;
 margin: 1.5%;
 padding: 2%;
 width: 20%;
 background-color: #E26D5C;
 color: #FFE1A8;
 border-radius: 30px;
 font-family: system-ui;
 height: 100vh;
}

.reviewCards >img{
 width: 60%;
}

.review-description{
 display: flex;
 justify-content: space-evenly;
 flex-direction: column;
}

@media only screen and (max-width: 960px) {
 .reviewCards{
 width: 40%;
 margin-right: 2rem;
 }
}

@media only screen and (max-width: 600px) {
.reviewCards{
 width: 40%;
 margin-right: 2rem;
 }
}