.singleMeal-page{
background-color: #FF9A8B;
background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);


  display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

}
.single-meal{
        flex-direction: column;
      justify-content: center;
      align-items: center;
    width: 80%;




}

.meal-pic{
 
  display: flex;
  align-items: center;
  justify-content: center;

}

.singleMeal-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}



.book-seats {background-image: linear-gradient(to right, #76b852 0%, #8DC26F  51%, #76b852  100%)}
.book-seats{
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
 
 }

 .book-seats {
  background-position: right center; 
 color: #fff;
  text-decoration: none;
 }
         

