.container {
  height: 100vh;
   overflow: scroll; 
}

 .container__section {

background: rgba(234, 232, 232, 0.24);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.7px);
-webkit-backdrop-filter: blur(8.7px);
border: 1px solid rgba(234, 232, 232, 0.19);
 height: 100%;
 width: 100%;
 position: sticky;
 top: 0;
 }